.searchForm {
  width: 350px;
  height: 35px;
  border: 2px solid purple;
  border-radius: 5px;
}
.label {
  line-height: 0.6;
  font-weight: 500;
  color: rgb(69, 5, 69);
  font-size: 1.3em;
  margin-bottom: 10px;
}
