.form {
  width: 320px;
}

.label {
  display: flex;
  flex-direction: column;
  font-size: 18px;
}

.input {
  margin-bottom: 16px;
  width: 100%;
}

.btn {
  cursor: pointer;
  font-size: 18px;
  width: 100px;
  border: 1px solid rgb(90, 19, 88);
  border-radius: 4px;
  display: block;
  background-color: rgb(235, 186, 225);
  margin-top: 10px;
}
